<%# Nav Bar %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Programming Club</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://repl.it/@LoganRice1/Java-Project" target="_blank">Sandbox</a>
      </li>
    </ul>
  </div>
</nav>

<%# Main Content %>
<div class="container">
  <h1>Exercises</h1>
  <div class="list-group">
    <%- @units.each do |unit| %>
      <div class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
        <%= unit.name %>
      </div>

      <%- unit.exercises.each do |exercise| %>
        <a href=<%= exercise.link.blank? ? "#" : exercise.link %> class="list-group-item list-group-item-action">
          <%= exercise.name %>
          
          <span class="badge badge-secondary">✓</span>
        </a>
      <% end %>
    <% end %>

  </div> 
  <%- #list group %>
  
</div>
