<%# Nav Bar %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Programming Club</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://repl.it/@LoganRice1/Java-Project" target="_blank">Sandbox</a>
      </li>
    </ul>
  </div>
</nav>

<%# Main Content %>
<div class="container">


  <%# Example %>
  <h1>Exercises</h1>

  <div class="list-group">
    <div class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
      Variables
    </div>
    <a href="#" class="list-group-item list-group-item-action">
      Variables and Names
      <span class="badge badge-secondary">✓</span>
    </a>

    <a href="#" class="list-group-item list-group-item-action">
      More Variables and Printing
      <span class="badge badge-secondary">✓</span>
    </a>

    <a href="#" class="list-group-item list-group-item-action">
      Name, Age, and Salary
    </a>

    <a href="#" class="list-group-item list-group-item-action">
      Using Variables
    </a>
  </div>


  <br/>

  <div class="list-group">
    <div class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
      Keyboard Input
    </div>
    <a href="#" class="list-group-item list-group-item-action">
      Asking Questions
      <span class="badge badge-secondary">✓</span>
    </a>

    <a href="#" class="list-group-item list-group-item-action">
      The Forgetful Machine
      <span class="badge badge-secondary">✓</span>
    </a>

    <a href="#" class="list-group-item list-group-item-action">
      Name, Age, and Salary
    </a>

    <a href="#" class="list-group-item list-group-item-action">
      More User Input of Data
    </a>
  </div>

</div>
